<h1>Write a new review for a game</h1>
<%= form_for @review do |f| %>
<%= f.collection_select :game_id, Game.all, :id, :title %>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    <br>
    <br>
        <%= f.label :rating %>
        <%= f.number_field :rating, min: 1, max: 10 %>
    </div>
<br>
    <%= f.submit %>
<% end %>